{% extends '@CeradGame/Layout.html.twig' %}

{% block content %}
<table border="1" style="width: 600px;">
<tr><th colspan="3">
  Game {{ game.num }}, {{ game.dtBeg.format('D H:i A')}}, {{ game.fieldName }}
</th></tr>
<tr><td>Game     </td><td colspan="2">{{ game.num }}</td></tr>
<tr><td>Kickoff  </td><td colspan="2">{{ game.dtBeg.format('D H:i A') }}</td></tr>
<tr><td>Field    </td><td colspan="2">{{ game.fieldName     }}</td></tr>
<tr><td>Division </td><td colspan="2">{{ game.levelKey      }}</td></tr>
<tr><td>Type     </td><td colspan="2">{{ game.groupType     }}</td></tr>
<tr><td>Home Team</td><td colspan="2">{{ game.homeTeam.name }}</td></tr>
<tr><td>Away Team</td><td colspan="2">{{ game.awayTeam.name }}</td></tr>
<tr><td colspan="3"></td></tr>
{{ form_start(form) }}
{% set slot = form.gameOfficial %}
<tr>
  <td>{{ form_widget(slot.role) }}</td>
  <td>{{ form_widget(slot.personNameFull) }}</td>
  <td>{{ form_widget(slot.assignState) }}</td>
</tr>
<tr>
    <td>{{ form_widget(form.reset) }}</td>
    <td><a href="{{ redirectUrl }}">Back to Referee Schedule</a></td>
    <td>{{ form_widget(form.reset) }}{{ form_widget(form.assign) }}</td>
</tr>
{{ form_rest(form) }}
{{ form_end(form)  }}
</table>

{% endblock %}
